@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,regular,500,600,700&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);

	font-family: "Noto Sans", sans-serif;
	background-color: var(--color-body);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--color-body:#F5F6F8;
	--black: #3B434E;
	--gray: #A4A4A4;
	--gray-ligth: #EBEBEB;
	--gray-dark: #787D85;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #6343e0;
	--red-light: #faa697;
	--red: #FC836D;
	--green:	#1DC37E;
	--green-ligth: #C8F8E4;
	--font-family: "Noto Sans KR", sans-serif;
}